* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 576px) {
    :root {
        --defaultFontSize: 100%;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --defaultFontSize: 112.5%;
    }
}

body {
    background: white;
    color: grey;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0%;
    margin-bottom: 1.38rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: 1px;

}

.img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

ul{
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.hero {
    min-height: 40vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.hero img {
    display: none;
}

.hero center {
    width: 90vw;
    max-width: 1120px;
}

@media screen and (min-width: 992px) {
    .hero {
        min-height: 60vh;
    }

    .hero-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 2rem;
    }

    .hero img {
        display: block;
    }
}

.hero-title h1 {
    color: #0d0d0d;
    margin: 0;
    letter-spacing: 2px;
}

.hero-title p {
    margin: 2rem 0;
    color: #0f172a;
    font-size: 1.25rem;

}

.hero-title span {
    letter-spacing: 5px;
    border-bottom: 2px solid #ff8e3c;
    margin: 0 0.5rem;
    text-align: center;
    display: inline-block;
    text-align: center;
    line-height: 1.25;
    font-style: italic;
    font-weight: 600;
}

.hero-btn {
    display: inline-block;
    background: #ff8e3c;
    color: #0d0d0d;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.75rem 1.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    animation: 2s infinite;
}

.hero-btn:hover {
    background: #ff8e3c;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

button.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.7em;
}

button.hipster {
    color: #645cff;
    background: #ff8e3c;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

button.hipster:hover {
    background: #e0deff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

}

button.block {
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
    
}

.title-underline {
    height: 0.2rem;
    width: 7rem;
    background: #ff8e3c;
    margin: 0 auto;
    margin-top: -1rem;
}

.section {
    padding: 5rem 0;
    background: #f8fafc;

}

.section-center {
    width: 90vw;
    max-width: 1120px;
    margin: 0 auto 2rem auto;
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, min-max(330px, 1fr));
}

@media screen and (min-width: 992px) {
    .center {
        width: 95vw;
    }
}

.project {
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out all;

}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.project img{
    width: 100%;
    display: block;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: 15rem;
    object-fit: cover;
}
.project footer{
    text-align: center;
    padding: 1.5rem 2rem;
    
}
.project footer h4{
    margin-bottom: 0;
    color: #0f172a;
    

}